@font-face {
  font-family: Casino;
  src: url(CasinoFuente.ttf);
  font-display: swap;
}
/*Navbar custom css
-------------------------------------------------  */

.navbar-brand {
  font-family: Casino;
}

.NombreJuego{
  font-family: Casino;
  margin-left: 2rem;
  text-align: left;
}

/* Img Custom css
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 4.5rem;
}
body > .container {
  padding: 60px 15px 0;
  padding-top: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.copyright{
  float: right;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.text{
  float:left;
  padding-left:15px;
}
.MainImg {
  margin-bottom: 4rem;
}

.Juego{
  text-align: center;
}
.container-text{
  text-align: justify;
  padding-top: 3vh;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-bottom: 3vh;
}
.NombreJuego{
  padding-top: 3vh;
}
/* Cards custom css
-------------------------------------------------- */

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}